h1{
    color:burlywood;
}
h2{
    color:blanchedalmond;
}
.header{
    /*background-color: cyan;*/
    display: flex;
    justify-content: space-between;
}
.games{
    /*background-color: cadetblue;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.socialmedia{
    /*background-color: darkcyan;*/
    display: flex;
    justify-content: flex-end;
}
body{
    background-color: #808080;
}